form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
  }
  
  label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #e0e0e0;
  }
  
  button {
    display: block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: red;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: black;
  }

  h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
  }
  
  h3 {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin-top: -0.5em;
  }
  
  p {
    font-size: 1.2em;
    text-align: center;
    margin: 1em auto;
    max-width: 80%;
    line-height: 1.5;
  }
  
  h2, h3, p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }