<h2>Add an Event</h2>
<h3>Store events in a list to keep track of them</h3>
<p>Make sure to add matching ID relevant to the event in the list.</p>
<h3>*You can edit an event by selecting the ID you want to change, and adding the new information.</h3>

<form (ngSubmit)="onSubmit()">
    <label>
        ID:
    <input type="number" name="id" [(ngModel)]="newEvent.id">
      </label>
    <label>
      Name:
      <input type="text" name="name" [(ngModel)]="newEvent.name">
    </label>
    <label>
      Description:
      <input type="text" name="description" [(ngModel)]="newEvent.description">
    </label>
    <label>
      Price:
      <input type="number" name="price" [(ngModel)]="newEvent.price">
    </label>
    <button type="submit">Add Event</button>
  </form>
  