<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="nav" href="../app/styles.css">
</head>
<body>
    <nav>
        <!---Logo----------------------------->
        <a href="index.html" class="logo">UPMEET</a>
        <!---Menu----------------------------->
        <ul class="menu">
            <li><a href="index.html" class="active">Home</a></li>
            <li><a routerLink="/events">Events</a></li>
            <li><a routerLink="/faves">Favorites</a></li>
            <li><a routerLink="/add">Add Events</a></li>
        </ul>
      
    </nav>
    <h2>Welcome to UPMEET</h2>
    <h3>The best place to store your events!</h3>
    <p>Here you can view a list of events tracked by a SQL database and perform operations on them using a Java api. </p>
    <p>The options include, being able to save an event as a favorite, view the list of favorite events, while also being able to add new events to the database.</p>
    
    <router-outlet></router-outlet>
</body>
</html>
