li {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    margin-bottom: 10px;
  }
  
  li button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    text-align: right;
    
  }
  li button:hover {
    background-color: black;
  }

  h2 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
  }
  
  h3 {
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    margin-top: -0.5em;
  }
  
  p {
    font-size: 1.2em;
    text-align: center;
    margin: 1em auto;
    max-width: 80%;
    line-height: 1.5;
  }
  
  h2, h3, p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
  
  div {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 1em auto;
    max-width: 80%;
    line-height: 1.5;
    background-color: lightgray;
    
  }

  